<div class="container container-pod shorten-container">
<h1 class="page-title t-center">THE LINK KNOWS ALL. SO CAN YOU.</h1>
<div class="join-bitly t-center">Yes I copied this css because I won't write this cool.</div>

<div id="form_container" class="t-center mid-container foot-room">

<fieldset class="cf">
<input id="shorten_url" taborder="1" name="url" type="text" class="shorten-input" placeholder="Paste a link to shorten it" value="" autocomplete="off" autocorrect="off" autocapitalize="off">
<input id="shorten_btn" type="submit" class="button button-primary button-large shorten-button" value="Shorten">

</fieldset>

</div>

<div class="link-container mid-container">
<div id="shortened_info">
<ul id="most_recent_link" class="anon_history footroom">
</ul>
</div>

</div>
</div>