<div class="container container-pod shorten-container">
<h1 class="page-title t-center">Please copy the following URL conveniently.</h1>

<div id="form_container" class="t-center mid-container foot-room">

<fieldset class="cf">

<input id="shorten_url" taborder="1" name="url" type="text" class="shorten-input" placeholder="If you are seeing this, I did something wrong" value="#{@base_url}#{@link.in_url}">
<input id="homepage" type="submit" class="button button-primary button-large shorten-button" value="Go back to homepage">
</fieldset>

</div>
